*{
    border:0;
    padding: 0;
    margin: 0;
}
body{
    font-family:'Source Sans Pro', sans-serif;
    color: black;
    line-height: 1.5;
    font-size: 14px;
    height: 1000px;
}
#brand-bar{
    background-image:linear-gradient(
        0deg, rgba(0, 0, 0, 0.75), rgb(0, 0, 0)); ;
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}
#header-wordmark{
    position: relative;
    float: left;
    font-family:serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    top: 7px;
    color: #fff;
}
.ul-nav{
    display: flex;
    justify-content:space-between;
    width: 800px;
    height: 50px;
    margin-right: 15px;
}
.li-nav{
    display: inline-block;
    width: 110px;
    height: 50px;
    text-align: center;
    margin: 0px 13.5px;
    padding: 10px 0px;
}
.li-nav a{
    text-decoration: none;
    color: #eee;
    font-size: 16px;
    font-weight: 500;
}
#li-nav-ex{
    width: 250px;
}
.nav-btn{
    font-size: 18px;
    font-weight: 500;
    color: #eee;
    background-color: transparent;
}
#li-nav-hover:hover{
    background-color: red;
}
#site-navigation{
    background-image: linear-gradient(
        0deg,transparent,rgba(0,0,0,.99)),linear-gradient(
        0deg,transparent 20%,rgba(0,0,0,.6));;
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    top: 50px;
    justify-content: center;
    font-weight: 400;
    transition: box-shadow .3s ease 0s;
    color: #fff;
}
.ul-sec-nav{
    padding-top: .5rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
    width: 850px;
    height: 60px;  
}
.ul-sec-nav li{
    text-align: center;
    display: inline;
    height: 50px;
    width: 85px;
    
}
#li-ex{
    width: 120px;
}
#site-navigation a{
    text-decoration: none;
    color: #eee;
    font-weight: 500;
    font-size: 18px;
}
picture{
    display: block;
}
.bg-img{
    width:100%;
    position: fixed; 
}
.wordmark{
    z-index: 100;
    position: fixed;
    color: #fff;
    text-shadow: 0 0 30px rgb(0 0 0 / 70%);
    font-size: 110px;
    top: 50%;
    left: 50%;
    width: auto;
    transition: font-size .5s ease;
    transform: translate(-50%,-50%);
    font-family: serif;
    font-weight: 500;
}
.screen-scroller{
    background-color: #b1040e;
    bottom: 0;
    padding: 7px 0 8px;
    z-index: 100;
    position: fixed;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 600;  
}
.screen-scroller a{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.panel-collection{
    display: block;
    position: absolute;
    padding-top: 1338px;
    padding-bottom: 38px;
    z-index: 100;
    width: 100%;
}
.panel-theme{
    background-color: #544948;
    color: #fff;
    height: 500px; 
}
.center{
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    line-height: 70px;
    padding-top: 55px;
}
.paragraph-center{
    font-size: 22px;
    text-align: center;
}
.btn1{
   display: block;
   margin-left: 500px;
   margin-top: 60px;
   background-color: #b1040e;
   height: 40px;
   transition: all .25s ease-in-out;
}
.btn1 a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    align-content: center;
    padding: 20px 20px;
}
.btn1:hover{
    background-color:#5f0e12be ;
}

.btn1 a:hover{
    color: #fff;
}
.panel2{
    background-color: #f9f6ef;
    color: black;
    display: block;
    height: 1160px;
    width: 100%;
    overflow: hidden;
}
section{
    display: block;
}
.article{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    transition: box-shadow .3s ease-in;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%), 0 3px 3px rgb(0 0 0 / 15%);
}
.art-1{
    height: 350px;
    position: relative;
    display: block;     
}
.art-1 img{
    position: absolute;
    display: block;  
}

/*hover*/

.content {
    position: absolute;
    font-size: 18px;
    bottom: -2px;
    display: block;
    box-shadow: none;
    text-transform: uppercase;
    line-height: .5;
    padding-left: 20px;
    color: #fff;
    will-change: contents;
    width: 100%;
    transition: all .3s ease-in;
    background: linear-gradient(
    180deg,transparent,rgba(0,0,0,.85) 80%);
}
.content h3{
    padding-bottom: 25px;
}
.content a{
    text-decoration: none;
    color: #fff;
}
.content a:hover{
    color: #fff;
}

.content-2{
    position: absolute;
    color: black;
    padding-left: 20px;
    padding-top: 190px;
}
.content-2 h3{
    line-height:15px;
}
.content-2 h3 a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    transition: color .25s ease-in;
}
.content-2 h3 a:hover{
    color: #006cb8;
}
.post-meta p{
    margin-bottom: 0px;
    color: #820000;
    margin-top:50px ;
    text-transform: uppercase;
    font-size: 14px;
}
#last-art1{
    font-size: 21px;
    text-transform: none;
}
#btn2{
    width: 350px;
    height: 50px;
}
